body {
  padding: 50px;
  background-color: #efefc8;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


h1, h2, h3 {
  color: #F0DDD3;
  text-decoration: none;
  font-family: 'Righteous', cursive;
}

.wrapper {
}

.inner {
    display: inline-block;
    width: 49%;
    margin: 5px auto;
    text-align:center;
    margin-bottom: 30px;
}

.titles {
  font-size: 30px;
  background-color: #efefc8;
  padding-top: 9px;
  height: 60px;
  color: black;
}

.data {
  font-size: 30px;
  background-color: #efefc8;
  padding-top: 9px;
  height: 88px;
  color: black;
  width: 429px;
}

.timer {
    display: inline-block;
    width: 100%;
    margin: 5px auto;
    text-align:center;
}


#timer-message{
  font-size: 5em;
  color: black;
  border: 5px black solid;
  border-radius: 16px;
  width: 500px;
  text-align: center;
  margin: 50px 0px 70px 180px;
}


.today-time-values{
  background-color: #efefc8;
  text-align: center;
  font-size: 14px;
}

.uct-time-values{
  background-color: black;
  text-align: center;
  padding: 13px;
  font-size: 53px;
  color: #efefc8;
  margin-top: -1px;
}

.times{
  width: 150px;
  border-radius: 10px;
  background-color: #bfd9c8;
  color: #593650;
  text-align: center;
  padding: 13px;
  font-size: 20px;
}



#timeToGo ul {
  list-style: none outside none;
  margin-top: 91px;
  padding-left: 147px;
}

#timeToGo li {
  background: black;
  border-radius: 10px;
  color: #54a5dd;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 110px;
  font-weight: bold;
  height: 160px;
  width: 200px;
  padding-top: 10px;
  position: relative;
  top: -15px;
  left: -15px;
}

#timeToGoLabels ul {
  list-style: none outside none;
}

#timeToGoLabels li {
  color: black;
  display: inline-block;
  font-size: 27px;
  height: 20px;
  width: 70px;
  padding-top: 43px;
  padding-left: 200px;
  position: relative;
  top: -40px;
  left: -20px;
  text-align: center;
}


.today {
  font-size: 14px;
  font weight: bold;
}

.utc {
  font-size: 30px;
  font weight: bold;
  background-color: black;
  padding-top: 10px;
  color: #efefc8;

}

.input-button-data {
  color: white;
  border: 1px black solid;
  width: 230px;
  height: 80px;
  font-size: 22px;
  border-radius: 10px;
  text-align: center;
  margin: 50px 0px 0px 10px;
  background-color:  #2C0091;

}

.input-button-check {
  color: white;
  border: 1px black solid;
  width: 230px;
  height: 80px;
  font-size: 22px;
  border-radius: 10px;
  text-align: center;
  margin: 50px 0px 0px 10px;
  background-color: #659100;

}

.input-button-enter {
  color: white;
  border: 1px black solid;
  width: 230px;
  height: 80px;
  font-size: 22px;
  border-radius: 10px;
  text-align: center;
  margin: 50px 0px 0px 10px;
  background-color:#2C0091;


}
.error {
  border-radius: 10px;
  background-color: white;
  color: red;
  text-align: center;
  padding: 13px;
  font-size: 30px;

}

.enter-data{
margin-top: 100px;
border-top: 11px solid black;
padding-top: 65px;

}

https://color.adobe.com/frios-color-theme-9148723/
