body {
  padding: 50px;
  background-color: #593650;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  color: #F0DDD3;
  text-decoration: none;
  font-family: 'Righteous', cursive;
}


#timer-message{
  font-size: 5em;
  color: white;
  border: 5px #F0DDD3 solid;
  border-radius: 30px;
  width: 500px;
  text-align: center;
  margin: 30px;"
}


.time-values{
  width: 150px;
  border-radius: 10px;
  background-color: #D9C8BF;
  color: #593650;
  text-align: center;
  padding: 13px;
  font-size: 20px;
}

.times{
  width: 150px;
  border-radius: 10px;
  background-color: #bfd9c8;
  color: #593650;
  text-align: center;
  padding: 13px;
  font-size: 20px;
}



#timeToGo ul {
  list-style: none outside none;
}

#timeToGo li {
  background: #F0DDD3;
  border-radius: 10px;
  color: #593650;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  height: 60px;
  width: 70px;
  padding-top: 10px;
  position: relative;
  top: -15px;
  left: -15px;
}

#timeToGoLabels ul {
  list-style: none outside none;
}

#timeToGoLabels li {
  color: #F0DDD3;
  display: inline-block;
  font-size:15px;
  font-weight: lighter;
  height: 20px;
  width: 70px;
  padding-top: 0px;
  position: relative;
  top: -40px;
  left: -20px;
  text-align: center;
}

p {
  color: #F0DDD3;
  font-size: 20px;
}

.error {
  border-radius: 10px;
  background-color: white;
  color: red;
  text-align: center;
  padding: 13px;
  font-size: 20px;

}

https://color.adobe.com/Tema-Color-18-color-theme-8034445/
