body {
  padding: 50px;
  background-color: #A1ECFF;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  color: #F0DDD3;
  text-decoration: none;
  font-family: 'Righteous', cursive;
}

.wrapper {
}

.inner {
    display: inline-block;
    width: 49%;
    margin: 5px auto;
    text-align:center;
    margin-bottom: 30px;
}

.titles {
  font-size: 30px;
  background-color: #E0F9FF;
  padding-top: 9px;
  height: 60px;
  color: #00667F;
}

.data {
  font-size: 30px;
  background-color: #E0F9FF;
  padding-top: 9px;
  height: 88px;
  color: #00667F;
  width: 429px;
}

.timer {
    display: inline-block;
    width: 100%;
    margin: 5px auto;
    text-align:center;
}


#timer-message{
  font-size: 5em;
  color: #00667F;
  border: 5px #00667F solid;
  border-radius: 16px;
  width: 500px;
  text-align: center;
  margin: 50px 0px 70px 180px;
}


.today-time-values{
  background-color: #A1ECFF;
  text-align: center;
  font-size: 14px;
}

.uct-time-values{
  background-color: #00667F;
  text-align: center;
  padding: 13px;
  font-size: 53px;
  color: #A1ECFF;
  margin-top: -1px;
}

.times{
  width: 150px;
  border-radius: 10px;
  background-color: #bfd9c8;
  color: #593650;
  text-align: center;
  padding: 13px;
  font-size: 20px;
}



#timeToGo ul {
  list-style: none outside none;
  margin-top: 91px;
  padding-left: 147px;
}

#timeToGo li {
  background: #00667F;
  border-radius: 10px;
  color: #A1ECFF;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 110px;
  font-weight: bold;
  height: 160px;
  width: 200px;
  padding-top: 10px;
  position: relative;
  top: -15px;
  left: -15px;
}

#timeToGoLabels ul {
  list-style: none outside none;
}

#timeToGoLabels li {
  color: #00667F;
  display: inline-block;
  font-size: 27px;
  height: 20px;
  width: 70px;
  padding-top: 43px;
  padding-left: 200px;
  position: relative;
  top: -40px;
  left: -20px;
  text-align: center;
}


.today {
  font-size: 14px;
  font weight: bold;
}

.utc {
  font-size: 30px;
  font weight: bold;
  background-color: #00667F;
  padding-top: 10px;
  color: #A1ECFF;

}

.input-button {
  color: #00667F;
  border: 1px #00667F solid;
  width: 122px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  margin: 50px 0px 0px 10px;
  background-color: #A1ECFF;

}
.error {
  border-radius: 10px;
  background-color: white;
  color: red;
  text-align: center;
  padding: 13px;
  font-size: 20px;

}


https://color.adobe.com/frios-color-theme-9148723/
